.background{
    background-color: rgb(231, 87, 87);
}
.btn:hover{
    background-color: rgb(231, 87, 87);
}
.card-title{
 height: 100px;
}
.card-text{
    height: 200px;
}
.card-source{
    padding: 10px;
    background-color: rgb(245, 121, 121);
    font-size: 12px;
    text-align: center;
}